
html{
  margin:0;
  padding: 0;
  --red:  #900c3f;
  --darkred:  #5d0829;
  --white: whitesmoke;
  --black: rgb(20, 20, 20);
  --gray:  rgb(163, 163, 163);}
 
body {
  text-align: center;
}

main{
  background-color: var(--white);
}

header{
  position: fixed;
  width: 100%;
  top:0;
  left:0;
}

section#cover{
  height: 80vh;
  width: 100%;
  background-image: url(./imagenes/parra.jpg);
  background-size: cover;
  padding: 1rem 0rem;
  margin-top: 5rem;
}

div.filter fieldset{
  border:none;
}

select, input{
  width: 175px;
  margin-left: 0.5rem;
  font-size: 1rem;
}

input#priceFilter{
  width: 130px;
}

section#winelist{
  height: 100%;
  padding: 1rem;
}


section#winelist > p{
  color: var(--red);
  min-height: 80vh;
}

section#winelist > img{
  display: inline;
  width: 100%;
  height: auto;
  position: fixed;
  top:5rem;
  left:0;
  z-index: -1;
}

ul#winelist{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1,h2, p{
  color:var(--white);
}

p#charge{
color: var(--black);
margin-top: 5rem;
}

div.cart{
  margin-top: 11.5rem;
}

section#cartResume{
  padding: 0.5rem;
}

section#cartResume > article{
  display:flex;
}

p.cart, li.cartItem p{
  color:var(--black);
  font-size: 0.8rem;
}

p.cart{
  color:var(--red);
  padding: 0 0.5rem;
  cursor: pointer;
}

p.cart:hover{
color: var(--darkred);
background-color: var(--gray);
}

ul.purchases p.cart{
  color:var(--white);
}

ul.purchases > li {
  margin: 1rem;
  border: 1px solid var(--black);
  border-radius: 2em;
}

p.AGOTADO{
  display:none;
}

div#notfound{
  height: 100vh;
  width: 100%;
  background-color:  var(--red);
  display: flex;
  flex-direction:column;
  justify-content: center;
}

div#notfound > p{
   margin:0;
   color:var(--white);
  font-size: 2rem;
}

section#oneproduct > p:last-of-type{
  color:  var(--red);
  background-color: var(--white);
  font-weight:bold;
}

ul#item{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li.cartItem {
background-color: rgb(233, 224, 224);
padding: 0.4rem;
margin:0.2rem;
border-radius: 1.5em;
border: 1px solid var(--red);
}

section#cartResume{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

section#cartResume > button{
  width: 100px;
  height: 30px;
}

section#cartResume > button#seeCart{
  width: 110px;
  height: 40px;
}

section#cartResume > button#seeCart:hover, button.cartButton:hover{
  background-color: var(--gray);
  border-bottom: 2px solid black;
  border-right: 2px solid black;
 }

div.cart p{
  color: var(--red);
}

p.cart img {
  width:30px;
  height: 30px;
}

.menuButton{
  background-color: gray;
  border: none;
  padding:0;
  width: 30px;
  height: 30px;
}

.menuButton img{
  width: 30px;
  height: 30px;
}

button.cartButton{
  margin: 0.5rem;
  padding: 0.5rem;
}

button#buy{
  font-weight: 600;
  background-color: var(--red);
  color:var(--white);
}

button#buy:hover{
  border-right: 4px solid black;
  border-bottom: 4px solid black;
  background-color: #5d0829;
}

p#thanks{
  font-size: 1.8rem;
}

h2{
  background-color: rgb(49, 49, 49);
}

h1#title {
  color:var(--red);
  margin: 0 auto;
  font-size: 2rem;
  background-color: var(--black);
  padding: 1rem 0;
}

header{
  background-color: var(--black);
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul{
  text-align: left;
  position: absolute;
  left:-150px;
  top: 94px;
  transition: left 1s; 
  background-color: var(--black);
}

nav ul li{
  margin: 1rem;
}

nav ul.visibleMenu{
left:0;
}

nav{
  display: flex;
  justify-content: flex-start;
}

a{
  color: var(--white);
  text-decoration: none;
}

.active{
  color:var(--red);
  font-weight: bold;
}

section#oneproduct{
  margin: 2rem 2rem;
  text-align: center;
  font-size: 0.7rem;
  background-color: var(--red);
  border: var(--black) 2px solid;
  width: 200px;
  word-break: break-word;
}

section#oneproduct > h1{
  font-size:1.2rem;
}

section#oneproduct > p, section#oneproduct > button{
  font-size:1rem;
}

img{
  max-width: 100%;
}

p#footer{
  background-color:var(--black);
  padding: 1rem;
  margin:0;
  font-size: 0.7rem;
}

div.user{
  min-height: 100vh;
  padding-top: 3rem;
  background-color: var(--red);
  display: flex;
  flex-direction: column;
}

 div.user > h1{
   font-size: 1.5rem;
}

 div.user > p{
  width:80%;
  margin: auto;
  font-size: 1.2rem;
}

 button#erasePurchase{
   width: 200px;
   color: var(--red);
   font-weight: bold;
   margin: 1rem auto;
   padding: 0.5rem 0;
}

 button#erasePurchase:hover{
   border-right: 3px solid white;
   border-bottom: 3px solid white;
   background-color: var(--darkred);
   color:white;
 }

.hidden{
  display: none;
}

@media (min-width: 700px) {

  nav{
    justify-content: flex-end;
  }

  nav ul{
    display: flex;
    text-align: center;
    position: relative;
    top:0;
    left:0;
  }

  .menuButton{
    display: none;
  }

  section#cover{
    margin-top:10rem;
  }

  div.cart{
    margin-top: 20rem;
  }

  p#footer{
   font-size: 1rem;
  }

  h1 {
    margin-bottom: 2rem;
  }
  h1#title {
    font-size: 4rem;
  }

  h2#cover{
    font-size: 2rem;
  }

  a{
    font-size: 1.3rem;
  }

  div.filter{
    display: flex;
    justify-content: center;
    padding: 1rem;
  }

  select, input{
    width: 200px;
    font-size: 1.2rem;
  }

  li.cartItem {
    margin:0.5rem;
    padding:0.5rem;
  }

  p.cart, li.cartItem p, label{
    font-size: 1.2rem;
  }

  button{
    font-size: 1.2rem;
  }
  
  section#cartResume > button#seeCart{
    width: 200px;
    color: var(--red);
  }

  div.user > h1{
    font-size: 2rem;
  }

  div#notfound > p{
   font-size: 4rem;
 }
}


@media (min-width: 1000px) {
  
  h1#title {
    font-size: 5rem;
  }

  section#oneproduct > h1{
    font-size:1.4rem;
  }

  h2#cover{
    font-size: 3rem;
  }

  p#footer{
    font-size: 1.2rem;
  }

  a{
    font-size: 1.6rem;
  }
  
  section#winelist{
    height: 100%;
    padding: 0;
  
  }

  ul#winelist{
    background-color: var(--white);
  }
  
  section#cover{
    margin-top:11rem;
  }

  div.cart{
  background-color: var(--white);
  margin-top: 20rem;
  margin-bottom:0;
  }

  div.filter{
    background-color:var(--white);
  }

  p.cart img{
    width:40px;
    height: 40px;
   }

  p.cart, li.cartItem p, button{
     font-size: 1.3rem;
  }

  section#oneproduct > p, section#oneproduct > button{
    font-size:1.2rem;
  }

  div.user{
    padding-top: 15rem;}

  div.user > h1{
      font-size: 2.5rem;
    }
  div.cart{
      margin-top: 25rem;
    }
}

@media (min-width: 1300px){
  div.cart{
    margin-top: 30rem;
   }

  p.cart{
    padding: 0 1.2rem;
  }

  div.user > h1{
    font-size: 2.7rem;
  }
  
  section#winelist > img{
    display: inline;
    width: 100%;
    height: auto;
    position: fixed;
    top:0;
    left:0;
    z-index: -1;
  }
}
