
html{
  margin:0;
  padding: 0;
}
body {
  text-align: center;
  
}

section#cover{
  height: 80vh;
  background-image: url(./imagenes/local.jpeg);
  background-size: cover;
  padding: 1rem 0.5rem;
  
}
div.filter fieldset{
  border:none;
  
}


section#winelist{
  height: 100%;
  background-image: url(./imagenes/barriles.jpg);
  padding: 1rem;
  
}

section#winelist > img{
  display: none;
 
  
}

ul#winelist{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1,h2, p{
  color: white;
}


p.cart, li.cartItem p{
  color: black;
  font-size: 0.8rem;
}
p.cart{
  color: #900c3f;
}

ul#item{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

li.cartItem {
background-color: rgb(233, 224, 224);
padding: 0.4rem;
margin:0.2rem;
border-radius: 1.5em;
border: 1px solid #900c3f;

}


section#cartResume{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section#cartResume > button{
  width: 100px;
  height: 30px;
}

p.cart img{
  width:30px;
  height: 30px;
}

button.cartButton{
  margin: 0.5rem;
  padding: 0.5rem;
}

button#buy{
  font-weight: 600;
  background-color: #900c3f;
  color: white;
}

h2{
  background-color: rgb(49, 49, 49);
}

h1#title {
  color: #900c3f;
  margin: 0 auto;
  font-size: 2rem;
  background-color: black;
  padding: 1rem 0;
}
 

header{
  background-color: black;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul{
  display: flex;
  justify-content: flex-end;
  
}
nav ul li{
  margin: 1rem;
}

a{
  color: white;
  text-decoration: none;
}

.active{
  color: #900c3ffd;
  font-weight: bold;
}

section#oneproduct{
  margin: 2rem 2rem;
  text-align: center;
  font-size: 0.7rem;
  background-color: #900c3ffd;
  border: rgba(232, 189, 243, 0.514) 2px dotted;
  width: 200px;
  word-break: break-word;
}

section#oneproduct > h1{
  font-size:1.2rem;
  
}

section#oneproduct > p, section#oneproduct > button{
  font-size:1rem;
}

img{
  max-width: 100%;
  height: 300px;
}
p#footer{
  background-color: black;
  padding: 1rem;
  margin:0;
  font-size: 0.7rem;
}

.hidden{
  display: none;
}

@media (min-width: 700px) {
  p#footer{
    
    font-size: 1rem;
  }
  h1 {
    margin-bottom: 2rem;
  }
  h1#title {
    font-size: 4rem;
  }
  h2#cover{
    font-size: 2rem;
  }
  a{
    font-size: 1.3rem;
  }

  li.cartItem {
    margin:0.5rem;
    padding:0.5rem;
    
    
  }
  p.cart, li.cartItem p{
   
    font-size: 1.2rem;
  }
  button{
    font-size: 1.2rem;
  }

  section#cartResume > button#seeCart{
    width: 200px;
    color: #900c3f;
  }
}


@media (min-width: 1000px) {

  header{
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    
  }
  
  h1#title {
    font-size: 5rem;
  }
  section#oneproduct > h1{
    font-size:1.4rem;
    
  }
  h2#cover{
    font-size: 3rem;
  }
  p#footer{
    
    font-size: 1.2rem;
  }
  a{
    font-size: 1.6rem;
  }
  

  section#winelist{
    height: 100%;
    background-image: none;
    padding: 0;
    
    
  }
  ul#winelist{
    background-color: rgb(255, 255, 255);
  }
  
  section#winelist > img{
    display: inline;
    width: 100%;
    height: auto;
    position: fixed;
    top:0;
    left:0;
    z-index: -1;
      
  }

  section#cover{
    margin-top:11rem;
    
  }
  div.cart{
  background-color: white;
  margin-top: 30rem;
  margin-bottom:0;
  }

  div.filter{
    background-color: white;
    
    }
  p.cart img{
    width:40px;
    height: 40px;
  }

  p.cart, li.cartItem p, button{
   
    font-size: 1.3rem;
  }
  section#oneproduct > p, section#oneproduct > button{
    font-size:1.2rem;
  }
}
